form{
  margin-left: 20px;
}

table{
  margin-left: 30px;
}

td{
 width: 150px;
 height: 30px;
 color : red;
}

.ficheProduit{
  background-color: green;
  width: 50%;
  margin: 20px 25%;
}

h2{
  background-color: blue;
}

h2, h3, p{
  text-align: center;
}
